body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.navbar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
}

.navbar>li{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar>li>a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: green;
    font-size: 36px;
    font-weight: 700;
}

.header-info span{
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid green;
    background-color: transparent;
    padding: 10px 15px;
}

.header-button .navbar {
    margin: 0;
    padding: 15px 0px;
    font-size: 16px;
}