body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

.navbar>li{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar>li>a{
    text-decoration: none;
    color: black;
}